.swiper-container {
  width: 100px;
  color: 'blue';
}

.swiper-wrapper {
  padding-inline-start: 0;
  color: 'blue';
}

.swiper-slide { 
  width: 80%;
}

.swiper-slide-active {
  color: 'blue';
}

.swiper-main{ 
  display: 'grid';
  width: '100%';
  background: 'red';
  margin-top: 'auto';
  margin-bottom: 'auto';
  margin-right: 'auto';
  margin-left: 'auto'
}


.swiper-slide {
  display: 'grid';
  width: '100%';
  background: 'red';
  margin-top: 'auto';
  margin-bottom: 'auto';
  margin-right: 'auto';
  margin-left: 'auto';
}

